@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Orbitron:wght@400..900&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: linear-gradient(45deg,
            #0d0526 0%,
            #2989d8 50%,
            #207cca 51%,
            #301f7f 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    z-index: 1;
}

.year-sec {
    padding: 30px 0px;
    text-align: center;
    font-size: 50px;
    font-family: "Orbitron";
    margin-bottom: 5px;
    color: chocolate;
    display: flex;
background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.date-month {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.year{
    
    align-items: center;
    display: flex;
}
.week-day {
    font-size: 30px;
    font-family: "Jersey 20";
    color:darkseagreen;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}

.clock-text {
    position: relative;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    margin-top: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    padding: 15px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.top-text {
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    padding: 5px;
    background: rgba(34, 50, 50, 0.1);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    width: 550px;
}

.top-text .date-row {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.am-pm {
    font-size: 25px;

}

@media only screen and (max-width: 620px) {
    .clock-text {
        font-size: 60px;
        width: 350px;
    }

    .top-text {
        width: 350px;
    }

    .am-pm {
        font-size: 15px;

    }

    .top-text .date-row {
        width: 40%;
    }


}

@media only screen and (max-width: 460px) {
    .clock-text {
        font-size: 30px;
        width: 250px;
    }

    .top-text {
        font-size: 10px;
        width: 270px;
    }

}
